<a href="https://colab.research.google.com/github/madrigaljose/ML-foundations/blob/master/Dense_Network_Experiment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
import keras
import tensorflow
import pandas as pd
import numpy as np

from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense
from keras.optimizers import SGD

In [118]:
from seaborn import load_dataset
iris_df = load_dataset("iris")
iris_df.species = pd.Categorical(iris_df.species, categories=['setosa','versicolor','virginica'])
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [119]:
iris_df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [120]:
iris_df.species.value_counts()

virginica     50
versicolor    50
setosa        50
Name: species, dtype: int64

In [121]:
iris_df.species.cat.codes.value_counts()

2    50
1    50
0    50
dtype: int64

In [122]:
X = iris_df.drop('species', axis=1)
X.head(2)

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2

In [123]:
X=X.values
X.shape

(150, 4)

In [124]:
y = iris_df.species.cat.codes
y.head()

0    0
1    0
2    0
3    0
4    0
dtype: int8

In [125]:
y.tail()

145    2
146    2
147    2
148    2
149    2
dtype: int8

In [126]:
y=y.values
y.shape

(150,)

In [127]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=0, stratify=y)

X_train.shape, X_valid.shape, y_train.shape, y_valid.shape

((112, 4), (38, 4), (112,), (38,))

In [128]:
y_train[0]

1

In [129]:
from tensorflow.keras.utils import to_categorical
n_classes = 3
y_train = to_categorical(y_train, n_classes)
y_valid = to_categorical(y_valid, n_classes)

In [130]:
y_train.shape, y_valid.shape

((112, 3), (38, 3))

In [131]:
y_train[0]

array([0., 1., 0.], dtype=float32)

In [132]:
model = Sequential()
model.add(Dense(units=4, activation='relu', input_shape=(4,)))
model.add(Dense(units=4, activation='relu'))
model.add(Dense(units=2, activation='relu'))
model.add(Dense(units=1, activation='softmax'))

In [133]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_24 (Dense)             (None, 4)                 20
_________________________________________________________________
dense_25 (Dense)             (None, 4)                 20
_________________________________________________________________
dense_26 (Dense)             (None, 2)                 10
_________________________________________________________________
dense_27 (Dense)             (None, 1)                 3
=================================================================
Total params: 53
Trainable params: 53
Non-trainable params: 0
_________________________________________________________________

In [134]:
model.compile(loss='mean_squared_error', optimizer=SGD(lr=0.01), metrics=['accuracy'])

/usr/local/lib/python3.7/dist-packages/tensorflow/python/keras/optimizer_v2/optimizer_v2.py:375: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  "The `lr` argument is deprecated, use `learning_rate` instead.")

In [135]:

model.fit(X_train, y_train, batch_size=1, epochs=50, verbose=1, validation_data=(X_valid, y_valid))

Epoch 1/50
112/112 [==============================] - 1s 4ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 2/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 3/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 4/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 5/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 6/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 7/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 8/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 9/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 10/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 11/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 12/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 13/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 14/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 15/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 16/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 17/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 18/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 19/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 20/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 21/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 22/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 23/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 24/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 25/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 26/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 27/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 28/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 29/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 30/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 31/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 32/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 33/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 34/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 35/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 36/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 37/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 38/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 39/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 40/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 41/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 42/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 43/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 44/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 45/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 46/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 47/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 48/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 49/50
112/112 [==============================] - 0s 1ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333
Epoch 50/50
112/112 [==============================] - 0s 2ms/step - loss: 0.6667 - accuracy: 0.3333 - val_loss: 0.6667 - val_accuracy: 0.3333

In [136]:
model.evaluate(X_valid, y_valid)

2/2 [==============================] - 0s 5ms/step - loss: 0.6667 - accuracy: 0.3333

[0.6666666865348816, 0.3333333432674408]

In [137]:
y_valid[0]

array([1., 0., 0.], dtype=float32)

In [138]:
model.predict(X_valid[0].reshape(1,-1))

WARNING:tensorflow:6 out of the last 6 calls to <function Model.make_predict_function.<locals>.predict_function at 0x7fae49fb3b00> triggered tf.function retracing. Tracing is expensive and the excessive number of tracings could be due to (1) creating @tf.function repeatedly in a loop, (2) passing tensors with different shapes, (3) passing Python objects instead of tensors. For (1), please define your @tf.function outside of the loop. For (2), @tf.function has experimental_relax_shapes=True option that relaxes argument shapes that can avoid unnecessary retracing. For (3), please refer to https://www.tensorflow.org/guide/function#controlling_retracing and https://www.tensorflow.org/api_docs/python/tf/function for  more details.

array([[1.]], dtype=float32)

##Your Turn
- Build a Dense Network using continuous features to predict customer churn
- Experiment with different size layers and different activation functions
- Think about what activation makes sense for the output layer

In [139]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving churn.csv to churn (1).csv
User uploaded file "churn.csv" with length 969287 bytes

In [140]:
import pandas as pd
churn_df = pd.read_csv('churn.csv')
churn_df.head()

  State  Account Length  Area Code  ... Intl Charge CustServ Calls  Churn?
0    PA             163        806  ...    5.673203              3   True.
1    SC              15        836  ...    2.559749              8  False.
2    MO             131        777  ...    6.254157              4  False.
3    WY              75        878  ...    1.080692              6  False.
4    WY             146        878  ...    7.134343              6   True.

[5 rows x 21 columns]

In [141]:
churn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   State           5000 non-null   object
 1   Account Length  5000 non-null   int64
 2   Area Code       5000 non-null   int64
 3   Phone           5000 non-null   object
 4   Int'l Plan      5000 non-null   object
 5   VMail Plan      5000 non-null   object
 6   VMail Message   5000 non-null   int64
 7   Day Mins        5000 non-null   float64
 8   Day Calls       5000 non-null   int64
 9   Day Charge      5000 non-null   float64
 10  Eve Mins        5000 non-null   float64
 11  Eve Calls       5000 non-null   int64
 12  Eve Charge      5000 non-null   float64
 13  Night Mins      5000 non-null   float64
 14  Night Calls     5000 non-null   int64
 15  Night Charge    5000 non-null   float64
 16  Intl Mins       5000 non-null   float64
 17  Intl Calls      5000 non-null   int64
 18  Intl Charge     5000 non-null   float64
 19  CustServ Calls  5000 non-null   int64
 20  Churn?          5000 non-null   object
dtypes: float64(8), int64(8), object(5)
memory usage: 820.4+ KB

In [142]:
import numpy as np

cols = ['Day Mins', 'Day Charge', 'Eve Mins', 'Eve Charge', 'Night Mins', 'Night Charge', 'Intl Mins', 'Intl Charge', 'CustServ Calls', 'Churn?']
churn_data = churn_df[cols].copy()
churn_data['Churn'] = np.where(churn_data['Churn?'] =='True.', 1, 0)
churn_data.head()

    Day Mins  Day Charge  Eve Mins  ...  CustServ Calls  Churn?  Churn
0   8.162204    7.579174  3.933035  ...               3   True.      1
1  10.018993    4.226289  2.325005  ...               8  False.      0
2   4.708490    4.768160  4.537466  ...               4  False.      0
3   1.268734    2.567642  2.528748  ...               6  False.      0
4   2.696177    5.908916  6.015337  ...               6   True.      1

[5 rows x 11 columns]

In [143]:
churn_data['Churn'].value_counts()

0    2502
1    2498
Name: Churn, dtype: int64

In [144]:
features = ['Day Mins', 'Day Charge', 'Eve Mins', 'Eve Charge', 'Night Mins', 'Night Charge', 'Intl Mins', 'Intl Charge', 'CustServ Calls']
target = 'Churn'

X = churn_data[features].values
y = churn_data[target].values
X.shape, y.shape

((5000, 9), (5000,))

In [145]:
from sklearn.model_selection import train_test_split

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.25, random_state=0)

X_train.shape, X_valid.shape, y_train.shape, y_valid.shape

((3750, 9), (1250, 9), (3750,), (1250,))

In [146]:
X_train

array([[13.23664371, 11.00768366,  5.54973717, ...,  6.12155121,
         3.12411923,  3.        ],
       [ 3.64623966,  4.11254353,  2.83378984, ...,  5.58227412,
         2.96599581,  7.        ],
       [ 0.53955568,  3.66313094,  0.08811627, ...,  4.46893939,
         1.29072559,  4.        ],
       ...,
       [10.40811761,  6.20244068,  7.00614012, ...,  4.32914583,
         4.21910436,  3.        ],
       [10.0109857 ,  7.35504399,  6.7736002 , ...,  3.69210465,
         6.18139625,  4.        ],
       [ 1.65060626,  4.23125228,  4.88634033, ...,  6.5126707 ,
         3.49669158,  5.        ]])

In [147]:
y_train

array([1, 0, 0, ..., 1, 1, 0])

Consider whether you should normalize using:
https://keras.io/api/utils/python_utils/#normalize-function

In [148]:
from tensorflow.keras.utils import normalize
normalize(X_train)

array([[0.58607787, 0.48738637, 0.24572529, ..., 0.27104346, 0.13832639,
        0.13283077],
       [0.26781313, 0.30206275, 0.2081394 , ..., 0.41001318, 0.21784981,
        0.51414392],
       [0.05635927, 0.3826322 , 0.00920418, ..., 0.4668029 , 0.13482269,
        0.41781985],
       ...,
       [0.55363115, 0.32992175, 0.37267233, ..., 0.23027699, 0.22442364,
        0.15957674],
       [0.51603819, 0.37913186, 0.34916006, ..., 0.19031762, 0.31863361,
        0.20618876],
       [0.13923357, 0.35691877, 0.41217741, ..., 0.54936323, 0.29495638,
        0.42176494]])

In [173]:
model = Sequential()
model.add(Dense(units=4, activation='relu', input_shape=(9,)))
model.add(Dense(units=8, activation='relu'))
model.add(Dense(units=4, activation='relu'))
model.add(Dense(units=1, activation='sigmoid'))

In [174]:
model.summary()

Model: "sequential_10"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_40 (Dense)             (None, 4)                 40
_________________________________________________________________
dense_41 (Dense)             (None, 8)                 40
_________________________________________________________________
dense_42 (Dense)             (None, 4)                 36
_________________________________________________________________
dense_43 (Dense)             (None, 1)                 5
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [176]:
model.compile(loss='binary_crossentropy', optimizer=SGD(learning_rate=0.01), metrics=['accuracy'])

In [178]:
model.fit(X_train, y_train, batch_size=16, epochs=20, verbose=1, validation_data=(X_valid, y_valid))

Epoch 1/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3468 - accuracy: 0.8624 - val_loss: 0.3516 - val_accuracy: 0.8520
Epoch 2/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3411 - accuracy: 0.8640 - val_loss: 0.3625 - val_accuracy: 0.8504
Epoch 3/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3362 - accuracy: 0.8616 - val_loss: 0.3398 - val_accuracy: 0.8560
Epoch 4/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3320 - accuracy: 0.8656 - val_loss: 0.3474 - val_accuracy: 0.8592
Epoch 5/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3321 - accuracy: 0.8645 - val_loss: 0.3432 - val_accuracy: 0.8616
Epoch 6/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3263 - accuracy: 0.8701 - val_loss: 0.3359 - val_accuracy: 0.8608
Epoch 7/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3251 - accuracy: 0.8715 - val_loss: 0.3277 - val_accuracy: 0.8624
Epoch 8/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3284 - accuracy: 0.8664 - val_loss: 0.3333 - val_accuracy: 0.8608
Epoch 9/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3212 - accuracy: 0.8736 - val_loss: 0.3239 - val_accuracy: 0.8648
Epoch 10/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3244 - accuracy: 0.8699 - val_loss: 0.3306 - val_accuracy: 0.8584
Epoch 11/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3202 - accuracy: 0.8707 - val_loss: 0.3215 - val_accuracy: 0.8728
Epoch 12/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3219 - accuracy: 0.8685 - val_loss: 0.3348 - val_accuracy: 0.8584
Epoch 13/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3193 - accuracy: 0.8723 - val_loss: 0.3211 - val_accuracy: 0.8720
Epoch 14/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3215 - accuracy: 0.8725 - val_loss: 0.3411 - val_accuracy: 0.8496
Epoch 15/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3145 - accuracy: 0.8755 - val_loss: 0.3196 - val_accuracy: 0.8672
Epoch 16/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3185 - accuracy: 0.8709 - val_loss: 0.4183 - val_accuracy: 0.8184
Epoch 17/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3131 - accuracy: 0.8749 - val_loss: 0.3175 - val_accuracy: 0.8720
Epoch 18/20
235/235 [==============================] - 0s 2ms/step - loss: 0.3167 - accuracy: 0.8723 - val_loss: 0.3337 - val_accuracy: 0.8584
Epoch 19/20
235/235 [==============================] - 0s 1ms/step - loss: 0.3168 - accuracy: 0.8712 - val_loss: 0.3526 - val_accuracy: 0.8488
Epoch 20/20
235/235 [==============================] - 0s 1ms/step - loss: 0.3136 - accuracy: 0.8776 - val_loss: 0.3352 - val_accuracy: 0.8528

In [169]:
model.evaluate(X_valid, y_valid)

40/40 [==============================] - 0s 1ms/step - loss: 0.0740 - accuracy: 0.9088

[0.07404237240552902, 0.9088000059127808]

In [170]:
y_valid[0]

0

In [171]:
model.predict(X_valid[0].reshape(1,-1))

array([[0.00560635]], dtype=float32)